html, body {
    height: 100%;
}

.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    background: white url(background.jpg) center center no-repeat;
    background-size: cover;

    box-sizing: border-box;

    padding: 20px;
}

.promo__link {
    max-width: 300px;
    width: 100%;
}

.promo__logo {
    vertical-align: top;
}
